
<!--<div class="row">
    <div class="col-md-6 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Formulaire d'inscription</h4>
              <form #creerEnfant (onSubmit)=fct(creerEnfant) class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputEmail1">NOM</label>
                  <input type="text" ngModel name="nom" class="form-control" id="exampleInputNOM1" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="exampleInputPrénom1">Prénom</label>
                  <input type="text" ngModel name="prenom" class="form-control" id="exampleInputPrénom" placeholder="Prénom">
                </div>
                <div class="form-group">
                  <label for="exampleInputPhoto">Photo</label>
                  <input type="Photo" class="form-control" id="exampleInputPhoto" placeholder="lien de photo">
                </div>
                <div class="form-group">
                  <label for="exampleInputdatedenaissance">date de naissance</label>
                  <input type="datedenaissance" class="form-control" id="exampleInputdatedenaissance" placeholder="date de naissance">
                </div>
                <div class="form-group">
                  <label for="exampleInputdatedinscription">date d'inscription</label>
                  <input type="datedinscription" class="form-control" id="exampleInputdate d'inscription" placeholder="date d'inscription">
                </div>
                <div class="form-group">
                  <label for="exampleClasse">classe</label>
                  <input type="Classe" class="form-control" id="exampleInputClasse" placeholder="Classe">
                  <div class="form-group">
                    <label for="exampleTél">Tél</label>
                    <input type="Tél" class="form-control" id="exampleInputTél" placeholder="Tél">
                  </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Horizontal Form</h4>
                <p class="card-description">
                  Suivi de votre enfant
                </p>
                <form class="forms-sample">
                  <div class="form-group row">
                    <label for="exampleInputIdentifiant" class="col-sm-3 col-form-label">Identifiant</label>
                    <div class="col-sm-9">
                      <input type="Identifiant" class="form-control" id="exampleInputIdentifiant" placeholder="Identifiant">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputMotdepasse" class="col-sm-3 col-form-label">Mot de passe</label>
                    <div class="col-sm-9">
                      <input type="Motdepasse" class="form-control" id="exampleInputMotdepasse" placeholder="Mot de passe">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success mr-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Details de l'enfant</h4>
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="exampleInputnom">Nom</label>
                    <input type="text" class="form-control" id="exampleInputNom" placeholder="Nom">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputsexe">sexe</label>
                    <input type="sexe" class="form-control" id="exampleInputsexe" placeholder="Sexe">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputNumerodassurancemaladie">Numéro d'assurance maladie</label>
                    <input type="Numero" class="form-control" id="exampleInputNumerodassurancemaladie" placeholder="Numéro d'assurance">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputAtildeproblémesdesantéquinécessitentdessoinsparticuliers">A-t-il des problémes de santé qui nécessitent  des soins particuliers?</label>
                    <input type="text" class="form-control" id="exampleInputAtildeproblémesdesantéquinécessitentdessoinsparticuliers" placeholder="Citez ces problémes">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputprendildesmedicamentsdunefaçonréguliére">prend-il des medicaments d'une façon réguliére?</label>
                    <select class="form-control border-primary" id="exampleSelectPrimary">
                      <option>Oui</option>
                      <option>Non</option>
                       </select>
                    </div>
                  <div class="form-group">
                    <label for="exampleInputadresse">Adresse</label>
                    <input type="text" class="form-control" id="exampleInputadresse" placeholder="Adresse">
                  </div>
                  <div class="form-group">
                    <label for="exampleinputaideznousàprogresseravecvospropositions">aidez-nous à progresser avec vos propositions</label>
                    <textarea class="form-control" id="exampleaideznousàprogresseravecvospropositions" rows="2">Vos propositions?</textarea>
                  </div>
                  <button type="submit" class="btn btn-success mr-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          -->
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Création d'un enfant</h4>
                  <p class="card-description">Use class <code>.tab-basic</code> for basic styling</p>
                  <ngb-tabset class="tab-basic">
                    <ngb-tab title="Formulaire d'inscription">
                      <ng-template ngbTabContent>
                        <h4 class="card-title">Formulaire d'inscription</h4>
              <form #creerEnfant (onSubmit)=fct(creerEnfant,detailsEnfants) class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputEmail1">NOM</label>
                  <input type="text" ngModel name="nom" class="form-control" id="exampleInputNOM1" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="exampleInputPrénom1">Prénom</label>
                  <input type="text" ngModel name="prenom" class="form-control" id="exampleInputPrénom" placeholder="Prénom">
                </div>
                <div class="form-group">
                  <label for="exampleInputPhoto">Photo</label>
                  <input type="text" ngModel name="photo" class="form-control" id="exampleInputPhoto" placeholder="lien de photo">
                </div>
                <div class="form-group">
                  <label for="exampleInputdatedenaissance">date de naissance</label>
                  <input type="text" ngModel name="datedenaissance" class="form-control" id="exampleInputdatedenaissance" placeholder="date de naissance">
                </div>
                <div class="form-group">
                  <label for="exampleInputdatedinscription">date d'inscription</label>
                  <input type="datedinscription" ngModel name="datedinscription" class="form-control" id="exampleInputdate d'inscription" placeholder="date d'inscription">
                </div>
                <div class="form-group">
                  <label for="exampleClasse">classe</label>
                  <input type="text" ngModel name="classe" class="form-control" id="exampleInputClasse" placeholder="Classe">
                  <div class="form-group">
                    <label for="exampleTél">Tél</label>
                    <input type="text" ngModel name="Tél" class="form-control" id="exampleInputTél" placeholder="Tél">
                  </div>
                </div>
              </form>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Details d'enfant">
                      <ng-template ngbTabContent>
                          <form class="forms-sample" #detailsEnfant>
                              <label for="sexe">sexe?</label>
                              <select class="form-control" id="exampleSelectPrimary">
                                <option>Masculin</option>
                                <option>feminin</option>
                                 </select>
                              <div class="form-group">
                                <label for="exampleInputNumerodassurancemaladie">Numéro d'assurance maladie</label>
                                <input type="text" ngModel name="assmaladie" class="form-control" id="exampleInputNumerodassurancemaladie" placeholder="Numéro d'assurance">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputAtildeproblémesdesantéquinécessitentdessoinsparticuliers">A-t-il des problémes de santé qui nécessitent  des soins particuliers?</label>
                                <input type="text" ngModel name="problemes" class="form-control" id="exampleInputAtildeproblémesdesantéquinécessitentdessoinsparticuliers" placeholder="Citez ces problémes">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputprendildesmedicamentsdunefaçonréguliére">prend-il des medicaments d'une façon réguliére?</label>
                                <select class="form-control" id="exampleSelectPrimary">
                                  <option>Oui</option>
                                  <option>Non</option>
                                   </select>
                                </div>
                              <div class="form-group">
                                <label for="exampleInputadresse">Adresse</label>
                                <input type="text" ngModel name="adresse" class="form-control" id="exampleInputadresse" placeholder="Adresse">
                              </div>
                              <div class="form-group">
                                <label for="exampleinputaideznousàprogresseravecvospropositions">aidez-nous à progresser avec vos propositions</label>
                                <textarea ngModel name="propositions" class="form-control" id="exampleaideznousàprogresseravecvospropositions" rows="2">Vos propositions?</textarea>
                              </div>
                            </form>
                        
















                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                  <br>
                      <button type="submit" class="btn btn-success mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                </div>
              </div>
            </div>