<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Liste des absences</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nom et prenom Enfant</th>
              <th>Date debut de l'absence</th>
              <th>Date reprise</th>
              <th>Raison</th>
              <th>Commentaire</th>
              <th>Status de l'absence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let abs of absencesArray">
              <td>{{ abs.prenom + " " + abs.nom}} </td>
              <td>{{ abs.dateAbs | date : format : 'dd-MM-YYYY'}}</td>
              <td>{{ abs.dateRep | date : format : 'dd-MM-YYYY'}}</td>
              <td>{{ abs.raison }} </td>
              <td>{{ abs.comment }} </td>
              <td *ngIf="abs.dateRep > curDate">
                <label class="badge badge-danger">l'enfant n'a pas encore repris</label>
              </td>
              <td *ngIf="abs.dateRep <= curDate">
                <label class="badge badge-success">l'enfant a repris</label>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-primary" routerLink="/creerAbsence" routerLinkActive="active">Saisir nouvelle absence</button>
        </div>
      </div>
    </div>
  </div>
</div>
